@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Kaisei+Opti:wght@500&family=Montserrat:wght@500&family=Poppins:wght@500&family=Roboto+Slab&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    font-family: 'Poppins', sans-serif;
    background: rgb(63,251,239);
    background: linear-gradient(143deg, rgba(63,251,239,1) 27%, rgba(252,70,251,1) 100%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif; 
    
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: white;
    border-radius: 50px;
    padding:30px;
}

h1{
    text-align: center;
    color:black;
    font-weight: 900;
    
}

#form button{
    background-color: red;
    color:white;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 50px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:50%;
    margin: 0px 25%;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid yellowgreen ;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}
